/* ---------- GENERAL ---------- */

body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#2b1b12;
    color:white;
}

html{
    scroll-behavior:smooth;
}

/* ---------- NAVBAR ---------- */

.navbar{
    background:#1b120b !important;
    border-bottom:3px solid #c89b3c;
}

.navbar-brand{
    color:#FFD166 !important;
    font-size:1.5rem;
}

.nav-link{
    color:white !important;
    font-weight:bold;
}

.nav-link:hover{
    color:#FFD166 !important;
}

/* ---------- HERO ---------- */

.hero{
    position:relative;
    text-align:center;
    overflow:hidden;
    max-height:700px;
}

.hero img{
    width:100%;
    height:auto;
    display:block;
}


/* ---------- MOBILE ---------- */

@media(max-width:768px){

.hero-overlay{

    position:static;

    transform:none;

    background:#3b2417;

    border-radius:0;

    max-width:100%;

    padding:30px;
}

.hero-overlay h1{

    font-size:2rem;
}

.hero-overlay p{

    font-size:1rem;
}

}.hero {
    position: relative;
}

.hero img {
    width: 100%;
    display: block;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.30);
    color: #fff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    text-shadow: 2px 2px 8px #000;
}

.hero-overlay h1 {
    font-size: 4rem;
    margin-bottom: 15px;
}

.hero-overlay h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero-overlay p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 20px;
}#story{
    padding-top:60px;
}